$color_white: #fff;
$color_grey: #8e8e93;
$color_black: #1a1a18;

// Font family
$font-family-primary: 'Inter', sans-serif;

// Flex

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin line-clamp1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
