// Colors

$color_text: #212529;
$color_white: #fff;
$color_text_grey: #8e8e93;

$color_light_grey: #f6f6fb;
$color_border: #e9ebec;
$color_green: #16c647;

// Font family
$font-family-primary: 'Inter', sans-serif;

// Flex

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin line-clamp1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
