@import 'src/styles/variables.scss';

.header {
  margin-bottom: 10px;
  height: 44.8px;
  padding: 0 14px;
  @include flex;
  border-bottom: 1px solid $color_border;

  .arrow-right-icon {
    width: 20px;
    height: 20px;
  }

  p {
    font-size: 14px;
    margin: 0 8px 0 5px;
    @include line-clamp1;
  }
}
